@keyframes modal-anim{
    0% {visibility: visible ; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
}

.modal{
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    &--visible{
        visibility: visible;
    }

    &--hidden{
        animation: modal-anim 1s ease;
        visibility: hidden;
    }

    &--deactive{
        display: none;
    }

    &__container{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120rem;
        transform: translate(-50%, -50%);
        background-color: $color-primary;
        font-size: $default-font-size;
        padding: .5rem;

        @include respond(lrgst){
            width: 100rem;
        }
        @include respond(lrgmax){
            width: 95rem;
        }
        @include respond(lrg){
            width: 90rem;
        }
        @include respond(med){
            width: 80rem;
        }
        @include respond(ipad){
            width: 65rem;
        }
        @include respond(smll){
            width: 60rem;
        }
        @include respond(smllst){
            width: 50rem;
        }
        @include respond(iphone){
            width: 40rem;
        }
        @include respond(hg){
            width: 120rem;
        }
    }

    &__img{
        max-width: 100%;
        height: auto;
        display: block; 
    }

    &__text{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
    }

    &__close{
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 48px;
        height: 48px;

        cursor: pointer;
    }

    &__close::before, &__close::after{
        position: absolute;
        left: 15px;
        content: ' ';
        height: 48px;
        width: 6px;
        background-color: #fff;
    }

    &__close::before{
        transform: rotate(45deg);
    }

    &__close::after{
        transform: rotate(-45deg);
    }
}