//Colors
$color-primary: #141414;
$color-primary-dark: #000;
$color-primary-light: #3a3a3a;

$color-secondary: #ceda42;

$color-font:#fcfcfc;

//Fonts size
$default-font-size: 1.8rem;

//Default colors
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    //green
    $color-green: #66bb6a;
    $color-green-light: #98ee99;
    $color-green-dark: #338a3e;

    //light green
    $color-light-green: #9ccc65;
    $color-light-green-light: #cfff95;
    $color-light-green-dark: #6b9b37;

    //lime
    $color-lime: #d4e157;
    $color-lime-light: #ffff89;
    $color-lime-dark: #a0af22;  
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

//Default grid width
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    $grid-width: 120rem;
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

//Gutters
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    $gutter-vertical: 2rem;
    $gutter-vertical-small: 2rem;
    $gutter-horizontal: 2rem;
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<